<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="readOnlyDefault" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/auditoryMapper.xml"/>
        <mapper resource="mapper/courseMapper.xml"/>
        <mapper resource="mapper/deanMapper.xml"/>
        <mapper resource="mapper/facultyMapper.xml"/>
        <mapper resource="mapper/mentorMapper.xml"/>
        <mapper resource="mapper/oweMapper.xml"/>
        <mapper resource="mapper/staffMapper.xml"/>
        <mapper resource="mapper/Student.xml"/>
        <mapper resource="mapper/studentHasMentor.xml"/>
        <mapper resource="mapper/university.xml"/>
    </mappers>
</configuration>