<mapper>
    <resultMap id="resultMap4" type="models.Dean" autoMapper="false">
        <id colummn="idDean" property="idDean"/>
        <result column="idMentor" property="idMentor"/>
    </resultMap>
    <select id="selectEntityById" resultType="mentorResultMap" resultMap="resultMap4">
        SELECT * FROM Mentor WHERE idMentor = #{id}
    </select>
    <insert id="insertEntity">
        INSERT INTO Dean()
        VALUES(#{idDean},#{idMentor},#{Name},#{Surname},#{Age},#{Gender})
    </insert>
    <delete id="deleteEntity">
        DELETE FROM Dean
        WHERE idDean=#{idDean}
    </delete>
    <update id="updateEntity">
        UPDATE Dean set idDean=#{idDean}, idMentor=#{idMentor}
        WHERE idDean=#{idDean}
    </update>
</mapper>