<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IOweDao">
    <resultMap id="resultMap7" type="models.Owe" autoMapping="false">
        <id column="idOwe" property="idOwe"/>
        <result column="idStudent" property="idStudent"/>
    </resultMap>
    <sql id="owe">o.idOwe as idOwe,
        o.idStudent as idStudent,
        o.AmountOfOwe as Owe
    </sql>
    <select id="selectEntityByEntity" resultType="oweResultMap" resultMap="resultMap7">
        SELECT
        <include refid="owe"/>
        FROM Owe
        WHERE idOwe=#{id}
    </select>
    <insert id="insertEntity">INSERT INTO Owe()
        VALUES (#{idOwe}, #{idStudent}, #{AmountOfOwe})
    </insert>
    <delete id="deleteEntity">DELETE FROM Owe
        WHERE idOwe = #{idOwe}
    </delete>
    <update id="updateEntity">UPDATE Owe SET idOwe=#{idOWe}, idStudent=#{idStudent}
        WHERE idOwe = #{idOwe}
    </update>
</mapper>