<mapper namespace="dao.IStaffDao">
    <resultMap id="resultMap8" type="models.Staff" autoMapper="false">
        <id column="idStaff" property="idStaff"/>
        <result column="idUniversity" property="idUniversity"/>
    </resultMap>
    <sql id="staff">
        s.idStaff as idStaff,
        s.idUniversity as idUniversity,
        s.Name as Name,
        s.Surname as Surname,
        s.Age as Age
    </sql>
    <select id="selectEntityById" resultType="staffResultMap" resltMap="resultMap8">
        SELECT
        <include idref="staff"/>
        FROM Staff
        WHERE idStaff=#{id}
    </select>
    <insert id="insertEntity">
        INSERT INTO Staff()
        VALUES(#{idStaff},#{idUniversity},#{Name},#{Surname},#{Age})
    </insert>
    <delete id="deleteEntity">
        DELETE FROM Staff
        WHERE idStaff = #{idStaff}
    </delete>
    <update id="updateEntity">
        UPDATE Staff SET idStaff = #{idStaff}, idUniversity = #{idUniversity}
        WHERE idStaff = #{idStaff}
    </update>
</mapper>