<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IStudentHasMentorDao">
    <resultMap id="resultMap10" type="models.StudentHasMentor" autoMapping="false">
        <id column="idStudent" property="idStudent"/>
        <id column="idMentor" property="idMentor"/>
    </resultMap>
    <sql id="combine">c.idStudent as idStudent,
        c.idMentor as idMentor
    </sql>
    <select id="selectEntityById">
        SELECT
        <include refid="combine"/>
        FROM StudentHasMentor
        WHERE IdStudent=#{id}
    </select>
    <insert id="insertEntity">INSERT INTO StudentHasMentor()
        VALUES (#{idStudent}, #{idMentor})
    </insert>
    <delete id="deleteEntity">DELETE FROM StudentHasMentor WHERE idStudent = #{idStudent}</delete>
    <update id="updateEntity">UPDATE StudentHasMentor SET idStudent=#{idStudent}, idMentor=#{idMentor}
        WHERE idStudent=#{idStudent}
    </update>
</mapper>